@model IEnumerable<CustomersHub.Core.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create Customer", "Create", "Customer", new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm())
{
    <p>
        Filter Customers: @Html.TextBox("Filter")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Name).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink(Html.DisplayNameFor(model => model.Status).ToString(), "Index", new { sortOrder = ViewBag.StatusSortParm })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Name).ToString(), "Details", new { id = item.Id }, new { @class = "label label-default" })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }

</table>

